<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <style>
        .tree { border-radius: 2px; }

        .tree-content { padding-left: 30px; }

        .tree-node { border-top: 1px solid #e2e2e2; position: relative; }

        .tree-node:first-child { border-top: none; }

        .tree-node .option-area { position: absolute; top: 50%; right: 15px; transform: translateY(-50%); }

        .option-area .layui-icon { display: inline-block; color: #999; }

        .option-area .layui-icon:hover { color: #333; }

        .tree-tit { position: relative; height: 42px; line-height: 42px; padding: 0 15px; color: #333; background-color: #f0f0f0; cursor: pointer; margin-bottom: 10px; }

        .tree-tit .layui-icon { display: inline-block; margin-right: 10px; transition: transform 0.4s; }

        .tree-tit .layui-icon.open { -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); transform: rotate(90deg); }

        .tree-tit:hover { box-shadow: 2px 2px 5px #ccc; }

        .layui-colla-content { display: none; padding: 10px 15px; line-height: 22px; border-top: 1px solid #f0f0f0; color: #666; }

        .state-highlight { height: 50px; border: 1px dashed #5FB878; margin-bottom: 10px; }
        [v-cloak] { display: none; }
    </style>

</head>
<body id="root">
    <div class="mainContainer">
        <blockquote class="layui-elem-quote">
            <div class="layui-row layui-form">
                <div class="layui-col-xs6">
                    <div class="layui-inline">
                        <div class="layui-input-inline">
                            <input type="text" name="Name" autocomplete="off" placeholder="学科名称" class="layui-input" v-model="queryFormData.Name">
                        </div>
                        <div class="layui-input-inline">
                            <remote-sel v-bind:setting="validSetting" v-bind:value.sync="queryFormData.Valid" laytips="启用状态" initial="off"></remote-sel>
                        </div>
                    </div>
                    <button class="layui-btn layui-btn-primary" lay-submit lay-filter="btn" @click="doSearch">查询</button>
                </div>
                <div class="layui-col-xs6" style="text-align: right">
                    <button class="layui-btn" @click="SaveDiscipline"><i class="layui-icon"></i> 添加一级学科</button>
                </div>
            </div>
        </blockquote>
        <div class="block layui-clear" style="height:700px;overflow:hidden;">
            <div class="layui-col-xs6" style="overflow:auto;height:100%;">
                <div class="tree-wrap" v-cloak>
                    <div class="tree" v-for="(index,item) in Discipline" v-bind:data-id="item.ID" v-bind:data-cid="item.CID" v-bind:data-orders="item.Orders">
                        <div class="tree-node">
                            <div class="tree-tit" @click="setInfo(item)" >
                                <h2 class="tit-area">
                                    <i class="layui-icon open arrow" v-if="item.ChildNodeList.length>0">&#xe602;</i><i class="layui-icon" style="visibility:hidden;" v-else>&#xe602;</i><span class="name">{{item.Name}}</span>
                                </h2>
                                <div class="option-area">
                                    <button class="layui-btn layui-btn-small" v-bind:class='[item.Valid == 1 ? " layui-btn-warm" :"layui-btn-normal"]' @click.stop="SetDisciplineValid(item)">{{item.Valid ==0 ?'启用':'禁用'}}</button>
                                    <i class="layui-icon add" v-if="item.Valid == 1" @click.stop="add(item,index)">&#xe654;</i>
                                    <i class="layui-icon del" @click.stop="delete1(item,index)">&#xe640;</i>
                                </div>
                            </div>
                            <div class="tree-content">
                                <div class="tree" v-if="item.ChildNodeList.length>0" v-for="(index2,item2) in item.ChildNodeList" v-bind:data-id="item2.ID" v-bind:data-cid="item2.CID" v-bind:data-orders="item2.Orders">
                                    <div class="tree-node">
                                        <div class="tree-tit" @click="setInfo(item2)" >
                                            <h2 class="tit-area">
                                                <i class="layui-icon open arrow" v-if="item2.ChildNodeList.length>0">&#xe602;</i><i class="layui-icon" style="visibility:hidden;" v-else>&#xe602;</i><span class="name">{{item2.Name}}</span>
                                            </h2>
                                            <div class="option-area">
                                                <button class="layui-btn layui-btn-small" v-bind:class='[item2.Valid == 1 ? " layui-btn-warm" :"layui-btn-normal"]' @click.stop="SetDisciplineValid(item2)">{{item2.Valid ==0 ?'启用':'禁用'}}</button>
                                                <i v-if="item2.Valid == 1" class="layui-icon add" @click.stop="add(item2,index2,index)">&#xe654;</i>
                                                <i class="layui-icon del" @click.stop="delete1(item2,index2)">&#xe640;</i>
                                            </div>
                                        </div>
                                        <div class="tree-content">
                                            <div class="tree" v-if="item2.ChildNodeList.length>0" v-for="(index3,item3) in item2.ChildNodeList" v-bind:data-id="item3.ID" v-bind:data-cid="item3.CID" v-bind:data-orders="item3.Orders">
                                                <div class="tree-node">
                                                    <div class="tree-tit" @click="setInfo(item3)" >
                                                        <h2 class="tit-area">
                                                            <i class="layui-icon open arrow" v-if="item3.ChildNodeList.length>0">&#xe602;</i><i class="layui-icon" style="visibility:hidden;" v-else>&#xe602;</i>{{item3.Name}}</span>
                                                        </h2>
                                                        <div class="option-area">
                                                            <button class="layui-btn layui-btn-small" v-bind:class='[item3.Valid == 1 ? " layui-btn-warm" :"layui-btn-normal"]' @click.stop="SetDisciplineValid(item3)">{{item3.Valid ==0 ?'启用':'禁用'}}</button>
                                                            <i class="layui-icon del" @click.stop="delete1(item3,index3)">&#xe640;</i>
                                                        </div>
                                                    </div>
                                                    <div class="tree-content">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs6" style="overflow:auto;height:100%;">
                <div class="layui-form" v-show="modifyDiscipline">
                    <div class="layui-form-item">
                        <label class="layui-form-label">学科名</label>
                        <div class="layui-input-block">
                            <input type="text" lay-verify="required" autocomplete="off" placeholder="请输入学科名" class="layui-input" v-model="SaveDisciplineForm.Name">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">描述</label>
                        <div class="layui-input-block">
                            <input type="text" autocomplete="off" placeholder="请输入描述" class="layui-input" v-model="SaveDisciplineForm.Description">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">展示图</label>
                            <div class="layui-input-inline">
                                <img v-bind:src="SaveDisciplineForm.Picture" alt="" width="190" height="90" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button type="button" class="layui-btn layui-btn-normal" id="upload">
                                <i class="layui-icon">&#xe67c;</i>选择图片
                            </button>
                        </div>
                    </div>
                    <div class="layui-form-item ">
                        <div class="layui-input-block">
                            <button class="layui-btn" @click="saveDisciplineInfo">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<link href="https://bbsresources.oss-cn-hangzhou.aliyuncs.com/js/modules/layer/css/layui.css" rel="stylesheet" />
<script src="https://bbsresources.oss-cn-hangzhou.aliyuncs.com/js/modules/vue/vue.min.js"></script>
<script src="https://bbsresources.oss-cn-hangzhou.aliyuncs.com/js/modules/layer/layui.js"></script>
<script src="https://bbsresources.oss-cn-hangzhou.aliyuncs.com/js/require_config.js"></script>
<script src="https://cdn.bootcss.com/jquery/1.10.1/jquery.min.js"></script>
<script src="https://bbsresources.oss-cn-hangzhou.aliyuncs.com/js/jquery/jquery-ui.js"></script>
<script src="../Classroom/Sortable.js?v1.0.2"></script>
<script>
    require_js_file(['table', 'form', 'jquery', 'tableExt', 'laydate', 'upload'],
        function (fnr) {
            var table = layui.table;
            var form = layui.form;
            var tableExt = layui.tableExt;
            var $ = layui.$;
            var upload = layui.upload;

            //搜索条件
            var rootApp = new Vue({
                el: '#root',
                data: {
                    modifyDiscipline: false,
                    DisciplineLength:'',
                    Discipline: [],
                    queryFormData: {
                        Name: '',
                        Valid: -1
                    },
                    emptyDiscipline: {
                        //AddPerson: '',
                        //AddPersonName: '',
                        //AddTime: '',
                        CID: 0,
                        ChildNodeList: [],
                        //ChildNodeList2: '',
                        Description: '',
                        //ID: '',
                        Name: '',
                        //Orders: '',
                        //PageSize: '',
                        Picture: '',
                        //StartRow: '',
                        //System_Station_ID: '',
                        Valid: 1,
                        ChildNodeList:[],
                    },
                    validSetting: {
                        search: true,
                        defaultValue:-1,
                        options: [
                            {
                                key: '1',
                                value: '启用'
                            }, {
                                key: '0',
                                value: '禁用'
                            }
                        ]
                    },
                    SaveDisciplineForm: {
                        CID: '',
                        Name: '',
                        Description: '',
                        Picture: '',
                    },
                    old_prev_order:'',
                    old_next_order:'',
                    new_prev_order:'',
                    new_next_order:'',
                    currDisciplineId:'',
                    currParentId:''

                },
                computed:{

                },
                ready: function () {
                    this.GetAllDiscipline();
                },
                methods: {
                    //获取长度
                    length: function (arr) {
                        return (arr.length)+1;
                    },
                    //启用禁用学科
                    SetDisciplineValid:function(item){
                        var self=this;
                        if(item.Valid == 1 ){
                            layer.confirm('是否禁用',function(index){
                                $.post("/service/datastore/Discipline/SetDisciplineValid",{ID:item.ID,Valid:0},function(res){
                                    if(res.SuccessResponse){
                                        self.GetAllDiscipline();
                                        layer.close(index);
                                    }
                                    layer.msg(res.Message);
                                })
                            })
                        }else if(item.Valid == 0 ){
                            layer.confirm('是否启用',function(index){
                                $.post("/service/datastore/Discipline/SetDisciplineValid", { ID: item.ID, Valid: 1 }, function (res) {
                                    if(res.SuccessResponse){
                                        self.GetAllDiscipline();
                                        layer.close(index);
                                    }
                                    layer.msg(res.Message);
                                })
                            })
                        }
                    },
                    //设置科目
                    setInfo: function (item) {
                        this.modifyDiscipline = true;
                        this.SaveDisciplineForm = item;
                    },

                    //保存课次信息
                    saveDisciplineInfo: function () {
                        var self=this;
                        //var {ID,Name,Description,Picture} = this.SaveDisciplineForm
                        this.saveRequst(self.SaveDisciplineForm)
                    },
                    saveRequst: function (params,cb) {
                        var self=this;
                        $.post("/service/datastore/Discipline/SaveDiscipline", params, function (res) {
                            if (res.SuccessResponse) {
                                if(cb && typeof cb=="function")
                                    cb(res);
                                layer.msg("操作成功");
                                //self.GetAllDiscipline();
                            }else{
                                layer.msg(res.Message);
                                return;
                            }
                        })
                    },
                    //添加一级学科
                    SaveDiscipline: function () {
                        var self=this;
                        var timetamp=new Date().getTime().toString();
                        //var {CID,Name,Description,Picture}=this.emptyDiscipline;
                        var item=this.emptyDiscipline;
                        item.Name = "新增学科" + timetamp.substr(-4,4);
                        item.CID = 0;
                        this.modifyDiscipline = true;
                        this.saveRequst(item,function(res){
                            self.Discipline.push(res.Data);
                            //self.Discipline.push(JSON.parse(JSON.stringify(item)));
                            self.SaveDisciplineForm=self.Discipline[self.Discipline.length-1];
                            //self.GetAllDiscipline();
                        });


                    },
                    //条件筛选
                    doSearch: function () {
                        var params = this.queryFormData;
                        this.GetAllDiscipline(params);
                    },
                    //查询学科集合
                    GetAllDiscipline: function (params) {
                        var self = this;
                        var Valid;
                        var IsRecommend = -1;
                        var Name;
                        if (params != null) {
                            Valid = params.Valid;
                            Name = params.Name; 
                        }
                        else
                        {
                            Valid = -1;
                            Name = "";
                        }
                        $.get("/service/datastore/Discipline/GetAllDiscipline", { Valid: Valid, IsRecommend: IsRecommend, Name: Name }, function (res) {
                            if(res.SuccessResponse){
                                self.Discipline = res.Data;
                                var shadow;
                                self.$nextTick(function () {
                                    $(".tree-wrap").mySortable({
                                        "tree": ".tree-wrap",
                                        "treeContent": ".tree-content",
                                        "treeTitle": ".tree-tit",
                                        "optionArea": ".option-area",
                                        "start":function(event,ui){
                                                var el =ui.item;
                                                self.currDisciplineId=$(el).data('id');
                                                self.old_prev_order=$(el).prev().data('orders') || 0;
                                                self.currParentId=$(el).data('cid') || 0;
                                                if($(el).next().hasClass("ui-sortable-placeholder")){
                                                    self.old_next_order=$(el).next().next().data('orders') || 0
                                                }else{
                                                    self.old_next_order=$(el).next().data('orders') || 0
                                                }
                                            
                                        },
                                        "stop":function(event,ui){
                                            var el =ui.item;
                                            self.new_prev_order=$(el).prev().data('orders') || 0;
                                            if($(el).next().hasClass("ui-sortable-placeholder")){
                                                self.new_next_order=$(el).next().next().data('orders') || 0
                                            }else{
                                                self.new_next_order=$(el).next().data('orders') || 0
                                            }
                                            shadow = layer.load(2, {
                                                shade: [0.1, '#fff']
                                            });
                                            $.post('/service/datastore/Discipline/MoveDiscipline',
                                                {
                                                    old_prev_order:self.old_prev_order,
                                                    old_next_order:self.old_next_order,
                                                    new_prev_order:self.new_prev_order,
                                                    new_next_order:self.new_next_order,
                                                    currDisciplineId:self.currDisciplineId,
                                                    currParentId:self.currParentId,
                                                },function(res){
                                                    if (res.SuccessResponse) {
                                                        layer.msg('排序成功')
                                                        //排序成功
                                                        layer.close(shadow);
                                                    } else
                                                    {
                                                    }
                                                })
                                        }
                                    });

                                });
                            }

                        })
                    },
                    edit: function (item, index) {
                        layer.prompt(function (value, index, elem) {
                            item.Name = value;
                            layer.close(index);

                        });
                    },

                    add: function (item, index,parentIndex) {
                        var self=this;
                        var timetamp=new Date().getTime().toString();
                        var obj = this.emptyDiscipline;
                        this.modifyDiscipline=true;
                        if(typeof(parentIndex)=="undefined"){
                            obj.CID=this.Discipline[index].ID
                            obj.Name = "新增二级菜单" + timetamp.substr(-4,4);
                            this.saveRequst(obj,function(res){
                                //self.Discipline[index].ChildNodeList.push(JSON.parse(JSON.stringify(obj)));
                                //self.SaveDisciplineForm=self.Discipline[index].ChildNodeList[this.Discipline[index].ChildNodeList.length-1];
                                self.Discipline[index].ChildNodeList.push(res.Data);
                                self.SaveDisciplineForm=res.Data;
                            })
                        }else{
                            obj.CID = this.Discipline[parentIndex].ChildNodeList[index].ID;
                            obj.Name = "新增三级菜单" +  timetamp.substr(-4,4);
                            this.saveRequst(obj,function(res){
                                //this.Discipline[parentIndex].ChildNodeList[index].ChildNodeList.push(JSON.parse(JSON.stringify(obj)));
                                //this.SaveDisciplineForm=this.Discipline[parentIndex].ChildNodeList[index].ChildNodeList[this.Discipline[parentIndex].ChildNodeList[index].ChildNodeList.length-1]
                                self.Discipline[parentIndex].ChildNodeList[index].ChildNodeList.push(res.Data);
                                self.SaveDisciplineForm=res.Data;
                            })

                        }

                    },

                    delete1: function (item, index) {
                        var self = this;
                        layer.confirm('是否删除？', {
                            btn: ['确定', '取消'] //按钮
                        }, function () {
                            $.post("/service/datastore/Discipline/RemoveDiscipline", { ID: item.ID }, function (res) {
                                if (res.SuccessResponse) {
                                    self.Discipline.splice(index, 1);
                                    self.modifyDiscipline = false;
                                    layer.msg('删除成功', { icon: 1 });
                                    self.GetAllDiscipline();
                                }
                                layer.msg(res.Message);
                            })
                        })
                    }
                }
            });
            //上传图片
            var uploadInst= upload.render({
                elem: '#upload'
              , url: '/service/public/Upload/File/2'
              , accept: 'images' //普通文件
              , done: function (res, index, upload) {
                  if(!res.SuccessResponse){
                      return layer.msg('上传失败');
                  }else{
                      rootApp._data.SaveDisciplineForm.Picture=res.Message;
                      return layer.msg('上传成功');
                  }
              }
                ,error: function(){
                    //演示失败状态，并实现重传
                    var demoText = $('#demoText');
                    demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                    demoText.find('.demo-reload').on('click', function(){
                        uploadInst.upload();
                    });
                }
            });
        });
</script>