body {
  background: #f3f5f7;
}
.mask {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.517241rem ;
  height: 0.603448rem;
  background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0), #ffffff, #ffffff);
  z-index: 999;
}
header .ipt {
  line-height: 0.862068rem;
  background: #fcfcfc;
  position: relative;
}
header .ipt .logo {
  position: absolute;
  top: 0.206896rem;
  left: 0.362068rem;
}
header .ipt .logo img {
  width: 0.793103rem;
  height: 0.431034rem;
}
header .ipt input {
  margin-left: 1.568965rem;
  background: #f2f2f6;
  border: none;
  width: 4.482758rem;
  height: 0.517241rem;
  border-radius: 0.120689rem;
  text-indent: 0.206896rem;
  font-size: 0.224137rem;
  color: #999999;
}
header .ipt .icon-sousuo {
  font-size: 0.224137rem;
  position: absolute;
  top: 0;
  right: 0.603448rem;
}
.banner {
  width: 100%;
  height: 2.448275rem;
  overflow: hidden;
}
.banner ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-padding-start: 0px ;
  margin: 0;
  padding: 0;
}
.banner img {
  width: 100%;
  height: 100%;
}
main {
  padding-bottom: 0.844827rem;
}
main .firstNav {
  background: #fff;
  width: 100%;
  position: relative;
  overflow: hidden;
}
main .firstNav ul {
  width: 100%;
  margin: 0;
}
main .firstNav ul li {
  white-space: nowrap;
  line-height: 1.034482rem;
  width: 32% !important;
  float: left;
  text-align: center;
  color: #666666;
  font-size: 0.293103rem;
  position: relative;
}
main .firstNav ul .firstNav_active {
  font-size: 0.344827rem;
  color: #333333;
  font-weight: 600;
}
main .firstNav ul .firstNav_active span {
  width: 0.137931rem;
  height: 0.068965rem;
  background: #188eee;
  display: block;
  position: absolute;
  bottom: 0.224137rem;
  left: 45%;
  border-radius: 50% ;
}
main .firstNav i {
  z-index: 999 !important;
  font-size: 0.25862rem;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1.206896rem;
  height: 100%;
  line-height: 1.034482rem;
  text-align: center;
  background: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0), #ffffff, #ffffff);
}
main .firstCon {
  background: #fff;
  padding-left: 0.25862rem;
}
main .firstCon i {
  font-style: normal;
}
main .firstCon span {
  display: inline-block;
}
main .firstCon img {
  width: 3.017241rem;
  height: 1.689655rem;
  margin-right: 0.155172rem;
  border-radius: 0.086206rem;
}
main .firstCon ul:after {
  clear: both;
  height: 0;
  display: block;
  content: "";
  overflow: hidden;
  visibility: hidden;
}
main .firstCon ul li {
  width: 100%;
}
main .firstCon .swiper-pagination1 {
  padding-bottom: 0.172413rem;
  text-align: center;
  line-height: 0.120689rem;
}
main .firstCon .swiper-pagination1 span {
  width: 0.172413rem !important;
  height: 0.068965rem !important;
  border-radius: initial;
  margin: 0 0.017241rem;
}
main .firstCon .international {
  position: relative;
  margin-bottom: 0.172413rem;
  left: 0;
}
main .firstCon .international .inter_English_describe {
  position: absolute;
  width: 2.724137rem;
  top: 0;
}
main .firstCon .international .inter_English_describe h3 {
  margin-top: 0.206896rem;
  line-height: 0.448275rem;
  font-size: 0.275862rem;
  color: #333333;
}
main .firstCon .international .inter_English_describe .inter_English_describe_person {
  line-height: 0.344827rem;
}
main .firstCon .international .inter_English_describe .inter_English_describe_person .iconfont {
  font-size: 0.206896rem ;
  color: #999999;
}
main .firstCon .international .inter_English_describe .inter_English_describe_person .price {
  margin-left: 0.25862rem;
  color: #f10013;
  font-size: 0.206896rem;
}
main .secCon {
  margin-top: 0.172413rem;
  background: #fff;
  padding-top: 0.206896rem;
}
main .secCon h2 {
  line-height: 0.655172rem;
  text-align: center;
  font-weight: 500;
  font-size: 0.344827rem;
  color: #333333;
}
main .secCon h2 span {
  font-size: 0.206896rem;
  color: #999;
}
main .secCon .placeNav {
  width: 100%;
  overflow: hidden;
  position: relative;
}
main .secCon .placeNav .place {
  width: 200%;
}
main .secCon .placeNav .place li {
  width:auto;
  padding:0 10px;
  float: left;
  text-align: center;
  line-height: 0.603448rem;
  font-size: 0.25862rem;
  color: #999999;
  position: relative;
  padding-bottom: 0.155172rem;
}
main .secCon .placeNav .place .placeNav_active {
  color: #333333;
  font-weight: 600;
}
main .secCon .placeNav .place .placeNav_active span {
  background: #188eee;
  width: 0.137931rem;
  height: 0.068965rem;
  border-radius: 0.051724rem;
  position: absolute;
  bottom: 0.224137rem;
  left: 40%;
}
main .secCon .MKS {
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap ;
  display: -webkit-flex;
  margin-bottom: 0.172413rem;
  padding-left: 0.25862rem;
}
main .secCon .MKS .MKS_box {
  width: 50%;
  padding-bottom: 0.293103rem;
}
main .secCon .MKS .MKS_box img {
  width: 2.862068rem;
  height: 1.603448rem;
  border-radius: 0.086206rem;
}
main .secCon .MKS .MKS_box .MKS_box_describe h4 {
  line-height: 0.431034rem;
  padding-top: 0.155172rem;
  font-size: 0.241379rem;
  color: #333333;
}
main .secCon .MKS .MKS_box .MKS_box_describe .MKS_box_describe_person {
  line-height: 0.431034rem;
}
main .secCon .MKS .MKS_box .MKS_box_describe .MKS_box_describe_person .iconfont {
  font-size: 0.206896rem ;
  color: #666666;
}
main .secCon .MKS .MKS_box .MKS_box_describe .MKS_box_describe_person .price {
  color: #f10013;
  font-size: 0.206896rem ;
  font-style: normal;
  margin-left: 0.948275rem;
}
main .thrCon {
  margin-top: 0.172413rem;
  background: #fff;
  padding-top: 0.206896rem;
}
main .thrCon h2 {
  line-height: 0.655172rem;
  text-align: center;
  font-weight: 500;
  font-size: 0.344827rem;
  color: #333333;
}
main .thrCon h2 span {
  font-size: 0.206896rem;
  color: #999;
}
main .thrCon .curriculumNav {
  width: 100%;
  overflow: hidden;
  position: relative;
}
main .thrCon .curriculumNav .curr li {
  height: 0.603448rem;
  padding: 0 0.172413rem;
  float: left;
  text-align: center;
  line-height: 0.603448rem;
  font-size: 0.25862rem;
  color: #999999;
  position: relative;
  padding-bottom: 0.155172rem;
}
main .thrCon .curriculumNav .curr .curriculumNav_active {
  color: #333333;
  font-weight: 600;
}
main .thrCon .curriculumNav .curr .curriculumNav_active span {
  display: inline-block;
  background: #188eee;
  width: 0.137931rem;
  height: 0.068965rem;
  border-radius: 0.051724rem;
  position: absolute;
  bottom: 0.224137rem;
  left: 40%;
}
main .thrCon .curriculum {
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap ;
  display: -webkit-flex;
  margin-bottom: 0.172413rem;
  padding-left: 0.25862rem;
}
main .thrCon .curriculum .curriculum_box {
  width: 50%;
  padding-bottom: 0.293103rem;
}
main .thrCon .curriculum .curriculum_box img {
  width: 2.862068rem;
  height: 1.603448rem;
  border-radius: 0.086206rem;
}
main .thrCon .curriculum .curriculum_box .curriculum_box_describe h4 {
  line-height: 0.431034rem;
  padding-top: 0.155172rem;
  font-size: 0.241379rem;
  color: #333333;
}
main .thrCon .curriculum .curriculum_box .curriculum_box_describe .curriculum_box_describe_person {
  line-height: 0.431034rem;
}
main .thrCon .curriculum .curriculum_box .curriculum_box_describe .curriculum_box_describe_person .iconfont {
  font-size: 0.206896rem ;
  color: #666666;
}
main .thrCon .curriculum .curriculum_box .curriculum_box_describe .curriculum_box_describe_person .price {
  color: #f10013;
  font-size: 0.206896rem ;
  font-style: normal;
  margin-left: 0.948275rem;
}
main .fourCon {
  margin-top: 0.172413rem;
  background: #fff;
  padding-top: 0.206896rem;
}
main .fourCon h2 {
  line-height: 0.655172rem;
  text-align: center;
  font-weight: 500;
  font-size: 0.344827rem;
  color: #333333;
}
main .fourCon h2 span {
  font-size: 0.206896rem;
  color: #999;
}
main .fourCon .pathNav {
  width: 100%;
  overflow: hidden;
  position: relative;
}
main .fourCon .pathNav .path {
  width: 200%;
}
main .fourCon .pathNav .path li {
  width: 9%;
  float: left;
  text-align: center;
  line-height: 0.603448rem;
  font-size: 0.25862rem;
  color: #999999;
  position: relative;
  padding-bottom: 0.155172rem;
}
main .fourCon .pathNav .path .pathNav_active {
  color: #333333;
  font-weight: 600;
}
main .fourCon .pathNav .path .pathNav_active span {
  background: #188eee;
  width: 0.137931rem;
  height: 0.068965rem;
  border-radius: 0.051724rem;
  position: absolute;
  bottom: 0.224137rem;
  left: 40%;
}
main .fourCon .subject {
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap ;
  display: -webkit-flex;
  padding-left: 0.25862rem;
}
main .fourCon .subject .subject_box {
  width: 50%;
  padding-bottom: 0.293103rem;
}
main .fourCon .subject .subject_box img {
  width: 2.862068rem;
  height: 1.603448rem;
  border-radius: 0.086206rem;
}
main .fourCon .subject .subject_box .subject_box_describe h4 {
  line-height: 0.431034rem;
  padding-top: 0.155172rem;
  font-size: 0.241379rem;
  color: #333333;
}
main .fourCon .subject .subject_box .subject_box_describe .subject_box_describe_person {
  line-height: 0.431034rem;
}
main .fourCon .subject .subject_box .subject_box_describe .subject_box_describe_person .iconfont {
  font-size: 0.206896rem ;
  color: #666666;
}
main .fourCon .subject .subject_box .subject_box_describe .subject_box_describe_person .price {
  color: #f10013;
  font-size: 0.206896rem ;
  font-style: normal;
  margin-left: 0.948275rem;
}
footer {
  border-top: 0.017241rem solid #dddddd ;
  background: #fff;
  position: fixed;
  bottom: 0rem;
  width: 100%;
  z-index: 9999 !important;
}
footer nav ul {
  padding-top: 0 ;
  width: 100%;
}
footer nav ul li {
  width: 25%;
  padding-top: 0.155172rem;
  float: left;
  text-align: center;
}
footer nav ul li i {
  line-height: 0.344827rem ;
  font-size: 0.344827rem !important;
}
footer nav ul li p {
  line-height: 0.344827rem;
  font-size: 0.172413rem;
}
footer nav ul .footer_active .footerBtn{
  color: #f01414;
}
