<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
        .progress-box { margin: 15px auto; }
        .steps { position: relative; width: 100%; margin: 0 auto; text-align: center; overflow: hidden; }
        .steps ul { width: 100%; height: 30px; overflow: hidden; }
        .steps ul li { width: 33%; background-color: #ddd; display: inline-block; }
        .steps ul li.active { background-color: #04a2ca; }
        .steps ul li i { display: inline-block; width: 30px; height: 30px; line-height: 30px; text-align: center; font-style: normal; color: #fff; font-size: 18px; font-weight: 700; }
        .steps ul li em { position: relative; top: 0; display: inline-block; color: #fff; line-height: 30px; font-size: 14px; font-style: normal; }
        .ct-step { height: 30px; position: relative; margin-left: 0px; margin-right: 0px; }
        .ct-step .step { float: left; height: 30px; line-height: 30px; color: #FFF; background: #cacaca; z-index: 1; text-align: center; position: relative; width: 33.33%; }
        .ct-step .step-active { background-color: #00a0c7; }
        .ct-step .step:after { content: ''; display: block; width: 20px; height: 30px; position: absolute; right: 0; z-index: 9; top: 0; border-top: 15px solid transparent !important; border-left: 15px solid #cacaca; border-bottom: 15px solid transparent !important; background-color: #fff; box-sizing: border-box; }
        .ct-step .step-active:after { border-color: #00a0c7; }
        .ct-step .step:not(:first-child):before { content: ''; display: block; position: absolute; left: -15px; z-index: 8; top: 0px; border-top: 15px solid #cacaca; border-left: 15px solid transparent !important; border-bottom: 15px solid #cacaca; }
        .ct-step .step-active:before { border-color: #00a0c7 !important; }
        .ct-step .step i { display: inline-block; width: 30px; height: 30px; line-height: 30px; text-align: center; font-style: normal; color: #fff; font-size: 18px; font-weight: 700; }
        .ct-step .step em { position: relative; top: 0; display: inline-block; color: #fff; line-height: 30px; font-size: 14px; font-style: normal; }
    </style>

    <title>第一步</title>
</head>
<body id="root">
    <div class="mainContainer">
        <div class="progress-box">
            <div class="ct-step">
                <div class="step step-active">
                    <i>01</i>
                    <em>基本信息</em>
                </div>
                <div class="step">
                    <i>02</i>
                    <em>课程详细</em>
                </div>
                <div class="step">
                    <i>03</i>
                    <em>安排课表</em>
                </div>

            </div> 
        </div>
        <div class="">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>基本信息</legend>
            </fieldset>
            <div class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">网课名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="Name" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" v-model="submitForm.Name">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">学科</label>
                    <div class="layui-input-inline">
                        <remote-sel v-bind:setting="FirstSetting" v-bind:value.sync="linkage.First" v-bind:change="FirstChange"
                                    initial="off" lay-filter="First" lay-verify="required"></remote-sel>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">二级学科</label>
                    <div class="layui-input-inline">
                        <remote-sel v-bind:setting="SecondSetting" v-bind:value.sync="linkage.Second" v-bind:change="SecondChange" v-ref:second
                                    initial="off" lay-filter="Second"></remote-sel>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">三级学科</label>
                    <div class="layui-input-inline">
                        <remote-sel v-bind:setting="ThreeSetting" v-bind:value.sync="linkage.Three" v-ref:three
                                    initial="off" lay-filter="Three"></remote-sel>

                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">价格</label>
                        <div class="layui-input-block">
                            <input type="text" name="Price" placeholder="请输入" autocomplete="off" class="layui-input" v-model="submitForm.Price">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">优惠价</label>
                        <div class="layui-input-block">
                            <input type="text" name="PreferentialPrice" placeholder="请输入" autocomplete="off" class="layui-input" v-model="submitForm.PreferentialPrice">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">购买基数</label>
                        <div class="layui-input-block">
                            <input type="text" name="BuyBase" placeholder="请输入" autocomplete="off" class="layui-input" v-model="submitForm.BuyBase">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">总课时 </label>
                        <div class="layui-input-block">
                            <input type="text" name="TotalHours" placeholder="请输入" autocomplete="off" class="layui-input" v-model="submitForm.TotalHours">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">是否上架</label>
                        <div class="layui-input-block">
                            <remote-rad name="IsPutaway" v-bind:setting="IsPutawaySetting" v-bind:value.sync="submitForm.IsPutaway"
                                        initial="off"></remote-rad>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item" style="text-align:center;">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-filter="demo1" @click="saveQuit">保存并退出</button>
                        <button class="layui-btn" lay-filter="demo1" @click="saveNext">保存并继续</button>
                        <button class="layui-btn layui-btn-primary" @click="saveNextCancel">取消</button>
                    </div>
                </div>
            </div>
        </div>
        <!--操作模板-->
    </div>
</body>
</html>
<link href="https://bbsresources.oss-cn-hangzhou.aliyuncs.com/js/modules/layer/css/layui.css" rel="stylesheet" />
<script src="https://bbsresources.oss-cn-hangzhou.aliyuncs.com/js/modules/vue/vue.min.js"></script>
<script src="https://bbsresources.oss-cn-hangzhou.aliyuncs.com/js/modules/layer/layui.js"></script>
<script src="https://bbsresources.oss-cn-hangzhou.aliyuncs.com/js/require_config.js"></script>
<script src="https://bbsresources.oss-cn-hangzhou.aliyuncs.com/js/Controls/Common.js"></script>
<script>
    require_js_file(['table', 'form', 'jquery', 'tableExt','laydate'],
        function (fnr) {
            var table = layui.table;
            var form = layui.form;
            var tableExt = layui.tableExt;
            var $ = layui.$;

            //搜索条件
            var rootApp = new Vue({
                el: '#root',
                data: {
                    IsPutawaySetting: {
                        tags: { name: "IsPutaway" },
                        options: [
                            { key: "1", value: "上架" },
                            { key: "0", value: "下架" },
                        ],
                        fields: { key: 'key', value: 'value' }
                    },
                    submitForm: {
                        ID:0,
                        Name: '',
                        Discipline_ID: '',
                        Price: '',
                        PreferentialPrice: '',
                        BuyBase: '',
                        TotalHours: '',
                        TeachingMethod: '',
                        IsPutaway: 1,
                        Discipline_ID:'',
                    },
                    linkage: {
                        First: '',
                        Second: '',
                        Three: '',
                    },
                    FirstSetting: { //联动
                        search: true,
                        options: [
                        ],
                        remote: {
                            url: '/service/Discipline/GetDisciplineWithCID',
                            data: { CID: 0 }
                        },
                        fields: { root: 'ReturnData.Data', key: 'ID', value: 'Name' }
                    },
                    SecondSetting: {
                        options: [],
                        remote: {
                            url: '',
                            data: {}
                        },
                        fields: { root: 'ReturnData.Data', key: 'ID', value: 'Name' }
                    },
                    ThreeSetting: {
                        options: [],
                        remote: {
                            url: '',
                            data: {}
                        },
                        fields: { root: 'ReturnData.Data', key: 'ID', value: 'Name' }
                    },
                },
                watch: {
                    linkage: {
                        handler: function (newVal, oldVal) {
                            if (newVal.Three == '') {
                                if (newVal.Second == '') {
                                    this.submitForm.Discipline_ID = this.linkage.First;
                                } else {
                                    this.submitForm.Discipline_ID = this.linkage.Second;
                                }
                            } else {
                                this.submitForm.Discipline_ID = this.linkage.First;
                            }
                        },
                        deep: true
                    },
                },
                ready: function () {
                    if (GetQueryString("TeachingMethod")) {
                        var TeachingMethod = GetQueryString("TeachingMethod");
                        this.submitForm.TeachingMethod = TeachingMethod;
                    }
                },
                methods: {
                    //添加修改网课
                    SaveCourse: function (params,cb) {
                        var self = this;
                        $.ajax({
                            url: "/service/WebCourse/SaveCourse",
                            data: params,
                            method:"POST",
                            success: function (res) {
                                if (res.SuccessResponse) {
                                    self.submitForm = res.ReturnData.Data;
                                    cb();
                                } else {
                                    layer.msg(res.Message)
                                }
                            }
                        })
                    },
                    SecondBind: function (CID) {
                            return {
                                search: true,
                                fields: { key: 'ID', value: 'Name' },
                                options: [],
                                remote: { url: "", data: { CID: 0 } }
                            }
                    },
                    ThreeBind: function (CID) {
                        var data;
                        if (CID > 0) {
                            data = {
                                search: true,
                                fields: { key: 'ID', value: 'Name' },
                                options: [],
                                remote: { url: "", data: { CID: CID } }
                            }
                        } else {
                            data = {
                                search: true,
                                fields: { key: 'ID', value: 'Name' },
                                options: []
                            }
                        }
                        return data;
                    },
                    FirstChange: function () {
                        this.SecondSetting.remote.url = '/service/Discipline/GetDisciplineWithCID';
                        this.SecondSetting.remote.data = { CID: this.linkage.First };
                        fnr.mergeJson(this.SecondBind(this.linkage.First), this.SecondBind);
                        this.$refs.second.reset();
                    },
                    SecondChange: function () {
                        this.ThreeSetting.remote.url = '/service/Discipline/GetDisciplineWithCID';
                        this.ThreeSetting.remote.data = { CID: this.linkage.Second };
                        fnr.mergeJson(this.ThreeBind(this.linkage.Second), this.ThreeBind);
                        this.$refs.three.reset();
                    },
                    //保存并退出
                    saveQuit: function (e) {
                        if (!layui.form.checkInput(e)) {
                            return false;
                        }
                        this.SaveCourse(this.submitForm, function () {
                            window.location.href = "/Html/ResourcesCenter/Classinfo/List.html";
                        })
                    },
                    //保存并继续
                    saveNext: function (e) {
                        if (!layui.form.checkInput(e)) {
                            return false;
                        }
                        var self = this;
                        this.SaveCourse(this.submitForm, function () {
                            window.location.href = "/Html/ResourcesCenter/editSimpleCourse/editClassBaseInfo.html?ID=" + self.submitForm.ID;
                        })
                    }
                }
            });

            
        });
</script>